#
# Note: Some stuff doesn't really align properly since some values are missing.
# I'll explain some of them to clarify.
#
# PG_DATABASE: This is the name of the database you want to connect to (currently has to stay as nhanify).
# HOST: Don't be fooled, this is not the database host, but rather the host of the server where you'll run the application.
# PORT: The port where the application will run. It's not the database port.
# SESSION_SECRET: This is a secret key used to sign the session cookie. It can be anything you want.
#                 Use the command to generate a random key: openssl rand -base64 32
# CLIENT_ID: This is the client ID of your Twitch application.
# CLIENT_SECRET: This is the client secret of your Twitch application.
# REDIRECT_URI: This is the redirect URI of your Twitch application.
#

PG_USER=

PG_DATABASE=nhanify
PG_PASSWORD=

HOST=
PORT=
SESSION_SECRET=

CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
